
html {
    font-family: arial,helvetica,sans-serif;
    font-size:1em;
    color: #333;
}
.columna{
	
	display:inline-block;
	/*background-color: #d3c8c0; */
}
.formulari {
  width: 90%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd3a8;
}

button{
  width:120px;
  /*margin-left:35px;*/
  /* display:block; */
  color: black;
  background-color: #ffaa56;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #804040;
}
button[name="botoIdioma"]:hover{
	background-color: #c46200;
	color: white;	
}
/* funciona, pero he de diferenciar la bandera per idioma
button[name="botoIdioma"]::before{content: url('banderes/Catalonia.png');}*/
	/* background-repeat: no-repeat;
	background-color: #d3c8c0; }*/

input[type="submit"]:active {
  box-shadow: black 1px 1px 15px;
}
input[type=text], input[type=password], input[type=number] { 
  padding: 0 8px;
  height: 29px;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
    color: #0080ff;
  font-size: 1em;
  /* font-weight: bold; 
  color: #f8e3fd;*/
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;
}
label, textarea{
	display: block;
}
.inputs {
  width: 90%;
  padding: 0 8px;
  height: 29px;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  color: #0080ff;
  /*font-size: 11px;
  font-weight: bold;*/
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;
}
li{
	list-style-type:none;
}
.h1Sortida{
	color: #ff7f00;
	
}
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
       border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{}
.CSSTableGenerator tr:nth-child(odd){background-color:#ffaa56; }
.CSSTableGenerator tr:nth-child(even){background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	
	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{border-width:0px 0px 1px 0px;}
.CSSTableGenerator tr:first-child td:last-child{border-width:0px 0px 1px 1px;}